<div class="row" *ngIf="pets.length">
    <div class="col" *ngFor="let pet of pets">
        <div class="card" style="width: 50rem; margin-top: 10px" >
            <div class="text-center">
                    <img src= {{pet.picture}} class="card-img-top rounded petImage" alt="...">
            </div>
            <div class="card-block">
            <h4 class="card-title">{{ pet.name }}</h4>
            <p class="card-text">Birth date: {{ pet.birthday }}</p> 
            <p class="card-text">Description: {{pet.description}}</p>
            <p class="card-text">Breed: {{pet.breed}}</p>
            <a href="#" class="btn btn-primary">Edit</a>
            </div>
        </div>
    </div>
</div>